<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(title='Energy Tracker - Inicio')}">

</head>
<body>
    <div th:replace="~{fragments/header :: navbar}"></div>

    <div class="container mt-5 flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="overlay-content">
            <h1 class="mb-4" id="title">Energy Tracker</h1>
            <p id="descr">En Energy Tracker, sabemos que el primer paso hacia un futuro más verde es entender tu consumo. Nuestra aplicación te permite registrar y visualizar tu consumo de energía mensual en kWh, dándote el control para tomar decisiones inteligentes. <br>Únete a nosotros y empieza a optimizar tu energía hoy mismo.</p>

            <div class="mt-4">
                <a th:href="@{/login}" class="btn btn-primary btn-lg mx-2">Iniciar Sesión</a>
                <a th:href="@{/register}" class="btn btn-secondary btn-lg mx-2">Registrarse</a>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:replace="~{fragments/header :: scripts}"></script>
    <script th:replace="~{fragments/header :: scripts2}"></script>
    <script th:replace="~{fragments/header :: scripts3}"></script>
</body>
</html>